body {
  background-color: rgb(49, 49, 49);
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  user-select: none;
  position: relative;
  font-size: 6em;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.70em;
  outline: none;
  text-shadow: 0 0 10px #E1BC29, 0 0 20px #E1BC29, 0 0 40px #E1BC29, 0 0 80px #E1BC29, 0 0 160px #E1BC29;
  margin-top: 50px; /* Adjust the margin-bottom to move h1 up */
  margin-bottom: 50px;
}

h2 {
  user-select: none;
  position: relative;
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.70em;
  outline: none;
  text-shadow: 0 0 10px #E1BC29, 0 0 20px #E1BC29, 0 0 40px #E1BC29, 0 0 80px #E1BC29, 0 0 160px #E1BC29;
  margin-bottom: 500px; /* Adjust the margin-top to move h2 up */
}

.content {
  display: flex;
  margin-top: 300px; /* Adjust the margin-top to create space below h2 and above additional content */
  color: black;
  background-color: white;
  padding: 40px;
  width: 70%;
  max-width: 1250px;
  border-radius: 15px;
}

.content p {
  font-size: 16px;
}

.content img {
  max-width: 100%;
  height: auto;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.text-section {
  background-color: white; /* Set the background color of the text section */
  padding: 40px; /* Adjust the padding to make the text section bigger */
  border-radius: 15px; /* Set the border-radius for rounded corners */
  flex: 1; /* Take remaining space in the flex container */
  margin-right: 20px; /* Add margin to separate text and image sections */
  width: 700px;
}

.image-section img {
  max-width: 300px;
  height: auto;
  border-radius: 15px; /* Set the border-radius for rounded corners */
}